/*
!.gitignore
!tsconfig.json
!package.json
!vite.config.ts
!static
!src
src/*
!src/lib
src/lib/*
!src/workers
src/workers/*
!src/components
src/components/*
!src/components/icons
src/components/icons/*
!src/routes
!**/*.ts
!**/*.svelte
!**/*.html
!**/*.js
