/*
!.gitignore
!README.md
!*.json
!*.ts
!*.sh
!app
!src
src/*
!src/cache
src/cache/*
!src/database
src/database/*
!src/library
src/library/*
!src/schema
src/schema/*
!src/wasm_brotli
!src/**/*.json
!src/**/*.ts
!src/**/*.sql
